{% extends 'index.html' %}
{% load static %}
{% block title %} About Us | LLCM{% endblock %}
{% block content %}


    <div class="main_div">

        <div class="vision">
            <div class="vision_big_title">
                    OUR VISION
            </div>

            <div class="vision_header_title">
                    OUR MANDATE
            </div>

            <div class="paragraph">
                    The Divine Visitation That Lasted Three and Half Hours,
                    Between 1:00pm - 4:30pm of Wednesday 18th of May 2016.
                    God spoke to me while I was reading Book of Romans 5:5-8
                    He said to me that, He Himself is Love and that is the
                     only reason Love is above all things because Love is God
                     and God is Love. This was the ministry of Jesus and
                     that He is sending me to preach the gospel of Christ,
                     the gospel of Love, because Christ is Love. So He is
                     sending me to carry on this assignment, to preach the
                     gospel to the poor through the word of Love and God told me
                     that His (God's) kind of Love produces all things. That it is
                      the Love of God that leads to creation of all things includes heaven and earth.

                    God said to me: The scarcity of love in churches around the world leads
                     to the limit of manifestation of power, blessings, miracles and signs
                      and wonders in His church today. But I am sending you JOHNSON to
                       undertake this assignment and not bend to the right or left then you will
                       see Me (God) in the way you have never seen Me before physically in this
                       generation but only read in My Holy Bible in the life of apostles including
                        Paul. I once
                      that I will forever be with you; surely I will be with you through this.
                    God said to me: I know that you love your children, I know you really love them
                    with your heart, but I (God)  love and cherish you (believers & unbelievers) all
                     more than this (you love your children) this is why I gave my only begotten Son
                     that all of you might be saved.
                        <div class="italic_text">
                                <i>
                                        "As my servant whom i have chosen, i am sending you (Johnson) to preach the gospel
                                        to my people with the same love that i have before the world began that led to
                                         creation of all things and at the middle of the world after creation, after satan
                                         deceived adam and eve that i sent them out of the garden, the same love that led
                                          me to give my only son jesus in whom i am well pleased. i want you to go out with
                                          the same love and bring my people to me."
                                </i>

                        </div>
                    They (My people) are there outside wandering, battered, dejected and
                     dying by devil's hand but bring them to Me and I will cause them to
                     live again and I will wash their sins away and cause their hearts to open to
                      the Word of Love (God) through the gospel of Jesus Christ My Son. <b>PREACH, SHOW
                            and TEACH</b> them all (Love)(God) and how to find Me and I will always abide with
                       you in love to transform My people's lives because Love (God) created all things.
                   <b>I AM LOVE PREACH ME TO MY PEOPLE , LIKE MY SON (JESUS) DID AND THE OTHER APOSTLES,
                        PETER, JOHN, PAUL AND THE REST OF THE APOSTLES IN WHICH YOUR NAME (JOHNSON) WILL
                         BE ADDED TO WITH SIGNS AND WONDERS FOLLOW
                       </b>
            </div>
        </div>


        <div class="vision">
                <div class="vision_big_title">
                        OUR MISSION
                </div>

                <div class="paragraph">
                        Brethren, there is no small vision or ministry in life,
                         neither is there any muster seed without a potential to become
                          a great tree  but it is clearly the man inputs that determines
                          his/her outputs. That is, if show sparingly receives sparingly
                           and bountifully receives bountifully then we must endeavor without
                            holding anything back give our all to God and the interest of His
                             kingdom as laid down by our Lord Jesus Christ in order to have a
                              good result both as a ministry and individual. 2 Corinthians 9:6
                               Galatians 6:7
                            <br>

                            <b>What then is God’s purpose for this ministry? </b>
                            For if purpose for a cause is not known then the abuse is
                            unavoidable.
                        <ul>
                                <li>
                                        The purpose for this ministry is one, just as the
                                        coming of Jesus Christ to the world was based on one
                                        se that is to save the whole world. (John 3:17)
                                </li>
                        </ul>

                                            <b>      The purpose of the ministry therefore is to bring all the people Jesus Christ died
                                                    and rose up in the third day for to the Kingdom of God for salvation, preservations
                                                    and nourishments of their souls and fulfilling of their
                                                destinies in Christ Jesus via the preaching, teaching and practicing of the Words of
                                                    Love.

                                        </b>
                                        <br>
                                <b>One Purpose But Via Many Mediums
                                        <ul>
                                            <li>Village Evangelisms Medium</li>
                                            <li> Seminar and Conference Medium</li>
                                            <li> Standard Bible School Medium</li>
                                            <li> Education Medium</li>
                                            <li> Crusade Medium etc. </li>
                                        </ul></b>
                         We will be engaging on the above mediums and more as God may reveal as means for the realization of the one goal set before us.
                </div>
            </div>



            <div class="vision">
                    <div class="vision_big_title">
                            Educational Mandate
                    </div>

                    <div class="paragraph">
                        In August 2019 when my wife was about to start a school business with bank loan,
                        we received command from the Lord to run a network of schools across Africa continent
                        through the ministry, starting from Nigeria with the
                         vision to give quality education to Africans from Crèche to Tertiary.
                                <br>
                                <h2>
                                        Division
                                </h2>
                               <li>Love Leads Kiddies Academy International started August 2019.</li>
                                <li> Love Leads Academy. </li>
                                <li>Love Leads Adult Literacy. </li>
                                <li>Love Leads Covenant University (to take place soon.)</li>





                                The schools are run through the ministry’s account and kingdom’s partners across the globe. <br>
                                <b>
                                        With the Vision
                                </b>

                                <li>
                                        To give quality education to all the living souls
                                        regardless of colour, tribe and sex
                                </li>
                                <li>
                                        To impart the love of Christ into every pupil’s life,
                                        thereby raising generation of God fearing leaders.
                                </li>

                                <li>
                                        To impart the love of Christ into every pupil’s life, thereby
                                        raising generation of God fearing leaders.
                                </li>
                                <li>

                                To rescue children from dark future through the power
                                of the light in Christ.

                                </li>
                                <li>
                                To guide them to their glorious future through the light
                                 of education and love of God.

                                </li>
                                <li>
                                To raise the generation of giants and able minds for
                                 the glorious transformation of the whole world

                                </li>
                                <li>
                                To eradicate destiny wastage caused by helplessness and poverty.

                                </li>
                                <li>
                                To train and teach the children moral and Spiritual educations,
                                having value and respect for themselves and others.

                                </li>
                                <li>
                                To raise leaders in all facets of life, who will remain
                                 committed to God and interest of His kingdom.

                                </li>
                                <li>
                                To give children quality educations so as to be relevant in life.

                                </li>
                                <li>
                                To make the Love of Christ the most popular song around the world.

                                </li>
                                <li>
                                To raise new generation of Godly Leaders to effect the positive changes the world’s communities lack.

                                </li>
                                <li>
                                To create Love’s communities around the world where peace and the love of God reign.

                                </li>

                                 <b>Mission</b>
                                        <li>Spread out from the first location across Nigeria and Africa by
                                                acquiring or receive as gift land properties, buildings and convert to modern schools.
                                        </li>
                                        <li>
                                                By hiring the service of well trained and qualified teachers
                                who are also knowledgeable about the Word of God
                                        </li>
                                        <li>

                                By setting up teachers’ training arm where people will be
                                equipped for the works and tasks ahead.
                                        </li>





                    </div>
                </div>

                <div class="vision">
                        <div class="vision_big_title">
                                GOD - Our Source
                        </div>

                        <div class="paragraph">
                                We are planning to build Love’s communities but how do we archive these? <br>

                                <li>	By taking responsibility, always ready to be part of building the community</li>
                                <li>	We are going to capitalize on the ability that God has given us in building these communities.</li>
                                <li> Just as the Tabernacle of God was built by people of God, we are going
                                to depend on God and internal forces to build the community. EX. 35:4-9 EX.36:5-6 </li>
                                That is collective efforts, where every member of Love Leads will come together for the purpose of building the communities.
                                <br>
                                <br>

                               <b>  How The Community will be built</b>
                               <br>
                               <b>Transperency</b>
                               <li>We are going to give chances
                                to our parents/guardians who are committed members to be part of the operations.</li>

                               <li>Selling of books and stationaries will not be merchandised in a wrong way, and whatever
                                        the interests maybe will be forwarded
                                       to ministry’s account for the purpose of building the community we desire.</li>
                               <li>
                                No amount of money will be directly or indirectly converted for personal use of any member.
                               </li>
                               <li>
                                We are building a Love community where parents/guardians will see the school as their own.
                                </li>
                        </div>
                    </div>
    </div>
{% endblock %}
