{% extends 'index.html' %}
{% load static %}
{% block title %} About Us | LLCM{% endblock %}
{% block content %}

                <div class="events_container">
                    <div class="events_big_title">
                        Our Events
                    </div>

                    <div class="events_details_div">
                            <div class="events_details_time">
                                        <div class="date_events">
                                                SUNDAY SERVICE
                                        </div>
                                        <div class="month_events">
                                            Every Sunday
                                    </div>


                            </div>


                            <div class="events_details_picture">
                                    <img src= "{% static 'css/img/johnmark.jpg' %}" alt="">

                            </div>


                            <div class="events_details_details">
                                    <div class="events_details_details_title">
                                            Sunday Service
                                    </div>

                                    <div class="events_details_details_location">
                                        Love Feast Hour Time <br>
                                9:00am - 11:00am <br>
                                        ADDRESS: <br><br>
                                1 Goshen Ave. Adeyemo bus-stop, Oluyole Industrial
                                estate Ext. Ibadan, Oyo state, Nigeria.
                                    </div>

                                    <!-- <div class="events_details_details_realdetails">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quas nulla consequuntur
                                             magni. Repellendus quam nostrum consequuntur saepe illum.
                                             Corporis beatae, eligendi modi veritatis tenetur autem accusamus harum velit quia.
                                    </div> -->

                            </div>
                    </div>



                    <div class="events_details_div">
                        <div class="events_details_time">
                                    <div class="date_events">
                                            MID-WEEK SERVICE
                                    </div>
                                    <div class="month_events">
                                        Every Wednesday
                                </div>


                        </div>


                        <div class="events_details_picture">
                                <img src="{% static 'css/img/bible study (2).jpg' %}" alt="">
                        </div>


                        <div class="events_details_details">
                                <div class="events_details_details_title">
                                    MID-WEEK SERVICE
                                </div>

                                <div class="events_details_details_location">
                                    BreakThroughs Hour <br>
                                5:00PM - 7:00PM <br>
                                ADDRESS: <br><br>
                                1 Goshen Ave. Adeyemo bus-stop, Oluyole Industrial
                                estate Ext. Ibadan, Oyo state, Nigeria.

                                </div>

                                <!-- <div class="events_details_details_realdetails">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quas nulla consequuntur
                                         magni. Repellendus quam nostrum consequuntur saepe illum.
                                         Corporis beatae, eligendi modi veritatis tenetur autem accusamus harum velit quia.
                                </div> -->

                        </div>
                    </div>
                </div>

                {% endblock %}
