{% extends 'index.html' %}
{% load static %}
{% block title %} About Us | LLCM{% endblock %}
{% block content %}

            <div class="team_main">
                    <div class="team_main_title">
                        <div class="vision_big_title">
                            LOVE LEADS TEAM
                            </div>

                    </div>

                    <div class="check_me">
                        <div class="pastor_long">
                            <div class="short_div_pastor">
                                 <div class="pastor_pics">
                                        <img src="{% static "css/img/team/1.jpg" %}" alt="">
                                 </div>
                                 <div class="pas_name">
                                        PASTOR JOHNSON A. PATRICK (Baba Africa)
                                 </div>
                                 <div class="pas_title">
                                    The President <br>(Love Leads Covenant Ministries International Inc)
                                 </div>

                            </div>

                            <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="{% static "css/img/team/2.jpg" %}" alt="">
                                    </div>
                                    <div class="pas_name">
                                           PASTOR JOSEPH O. BABATUNDE
                                    </div>
                                    <div class="pas_title">
                                       Vice President <br> (Love Leads Covenant Ministries International Inc)
                                    </div>
                               </div>

                               <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="{% static "css/img/team/3.jpg" %}" alt="">
                                    </div>
                                    <div class="pas_name">
                                           PASTOR CHRISTANA LOVE PATRICK
                                    </div>
                                    <div class="pas_title">
                                       The Executive Secretary <br> (Love Leads Covenant Ministries International Inc)
                                    </div>
                               </div>
                        </div>

                        <div class="pastor_long">
                            <div class="short_div_pastor">
                                 <div class="pastor_pics">
                                        <img src="{% static "css/img/team/4.jpg" %}" alt="">
                                 </div>
                                 <div class="pas_name">
                                       EDUCATOR ALABI A. SAMUEL
                                 </div>
                                 <div class="pas_title">
                                    Class Teacher <br> (Love Leads Covenant Ministries International Inc)
                                 </div>

                            </div>

                            <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="{% static "css/img/team/5.jpg" %}" alt="">
                                    </div>
                                    <div class="pas_name">
                                           EDUCATOR KIKELOMO V. BABTUNDE
                                    </div>
                                    <div class="pas_title">
                                       Class Teacher <br>(Love Leads Covenant Ministries International Inc)
                                    </div>

                               </div>

                               <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="{% static "css/img/team/6.jpg" %}" alt="">
                                    </div>
                                    <div class="pas_name">
                                           EDUCATOR OGUNDIRAN T. FOLASHADE
                                    </div>
                                    <div class="pas_title">
                                       Class Teacher <br> (Love Leads Covenant Ministries International Inc)
                                    </div>

                               </div>
                        </div>

                        <div class="pastor_long">
                            <div class="short_div_pastor">
                                 <div class="pastor_pics">
                                        <img src="{% static "css/img/team/7.jpg" %}" alt="">
                                 </div>
                                 <div class="pas_name">
                                        EDUCATOR GRACE A. AKOREDE
                                 </div>
                                 <div class="pas_title">
                                    Class Teacher <br> (Love Leads Covenant Ministries International Inc)
                                 </div>
                            </div>

                            <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="{% static "css/img/team/8.jpg" %}" alt="">
                                    </div>
                                    <div class="pas_name">
                                           MRS. ADELEKE
                                    </div>
                                    <div class="pas_title">
                                      Non Teaching Staff <br> (Love Leads Covenant Ministries International Inc)
                                    </div>

                               </div>

                               <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="{% static "css/img/team/9.jpg" %}" alt="">
                                    </div>
                                    <div class="pas_name">
                                           EDUCATOR AMAO ABISOLA
                                    </div>
                                    <div class="pas_title">
                                       Class Teacher <br> (Love Leads Covenant Ministries International Inc)
                                    </div>

                               </div>
                        </div>

                        <div class="pastor_long">
                            <div class="short_div_pastor">
                                 <div class="pastor_pics">
                                        <img src="{% static "css/img/team/10.jpg" %}" alt="">
                                 </div>
                                 <div class="pas_name">
                                        EDUCATOR AJAYI D. DAMILOLA
                                 </div>
                                 <div class="pas_title">
                                    Class Teacher <br>(Love Leads Covenant Ministries International Inc)
                                 </div>
                            </div>

                            <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="{% static "css/img/team/11.jpg" %}" alt="">
                                    </div>
                                    <div class="pas_name">
                                           MR. OWOLABI AKINKUNMI
                                    </div>
                                    <div class="pas_title">
                                       Media Personnel <br> (Love Leads Covenant Ministries International Inc)
                                    </div>

                               </div>

                               <!-- <div class="short_div_pastor">
                                    <div class="pastor_pics">
                                           <img src="../css/img/eden2.jpg" alt="">
                                    </div>
                                    <div class="pas_name">
                                           PASTOR JOHN HAGGEE
                                    </div>
                                    <div class="pas_title">
                                       Pastor <br> Brooklyn City
                                    </div>

                                    <div class="social_pas">
                                        <div class="each_social">
                                                <a href="">
                                                <img src="../css/img/icon/icons8-whatsapp-480.png" alt="">

                                                </a>

                                        </div>
                                        <div class="each_social">
                                            <a href="">
                                                    <img src="../css/img/icon/icons8-facebook-480.png" alt="">

                                            </a>
                                        </div>
                                        <div class="each_social">
                                            <a href="">
                                             <img src="../css/img/icon/icons8-instagram-480.png" alt="">
                                            </a>

                                        </div>
                                     </div>

                               </div> -->
                        </div>
                    </div>

                  <div class="gallery_box">
                            <div class="team_main_title">
                                <div class="vision_big_title">
                                    SCHOOL GALLERY
                                    </div>
                            </div>

                            <div class="school_pics_main_box">
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image1.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                        <img src="{% static "css/img/team/image2.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/3.jpg" %}" alt="">

                                </div>
                            </div>

                            <div class="school_pics_main_box">
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image20.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                        <img src="{% static "css/img/team/image4.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image5.jpg" %}" alt="">

                                </div>
                            </div>

                            <div class="school_pics_main_box">
                                <div class="school_pics_box_one">
                                    <img src="{% static "css/img/team/image6.jpg" %}" alt="">
                                </div>


                            </div>

                            <div class="school_pics_main_box">
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image9.jpg" %}" alt="">

                                </div>

                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image19.jpg" %}" alt="">
                            </div>
                            </div>

                            <div class="school_pics_main_box">
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image10.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                        <img src="{% static "css/img/team/image11.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image12.jpg" %}" alt="">

                                </div>
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image13.jpg" %}" alt="">
                            </div>
                            </div>



                            <div class="school_pics_main_box">
                                <div class="school_pics_box">
                                    <img src="{% static "css/img/team/image14.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                        <img src="{% static "css/img/team/image15.jpg" %}" alt="">
                                </div>
                                <div class="school_pics_box">
                                    <img src= "{% static "css/img/team/image16.jpg" %}" alt="">
                                </div>
                            </div>
                  </div>
            </div>

  {% endblock %}
