@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
}


html{

    font-size:62.5%;

    /* tab-land */
    @media  screen and (max-width:75em) {
        font-size:56.25%;
    }


    /* tab-port */

    @media  screen and (max-width:56.25em) {
        font-size:50%;
    }

    /* @media screen and (max-width:112.5em) {
        font-size:75%;
    } */

}

/* desktop */
@media screen and (max-width:112.5em){
    .commenter_name{
        /* border: 1px solid red; */
        width: 60%;
        font-size: 1.5rem;
        color: blue;
        margin-left: 7rem;
        font-weight: bold;
        margin-top: -3.5rem
    }

    .comment_date{
        /* border: 1px solid red; */
        width: 20%;
        margin-left: 7rem;   
        font-size: 12px;
        font-weight: bold;
        margin-top: 4px;
        color: grey;
        /* text-align: center */
    }

    .blog_list_name{
        font-weight: bold;
        /* text-align: center; */
        padding: .5rem;
        font-size: 2rem;
        /* color: blue; */
        margin-left: 4rem
    }

    .profile_avatar{
        /* border: 1px solid red; */
        width: 20%;
        
    }
    
    .profile_avatar img{
        width: 20%;
        height: 20%;
        clip-path: circle();
    }

    .anch p{
        margin-left: .5rem;   
        font-weight: bold ;
        font-size: 1.5rem;
        text-decoration: none;
        color: blue;
         margin-left: 4.5rem;
      } 
    
}




/* tab-land */
@media screen and (max-width:75em) {
    .commenter_name{
        color: red;
    }
}




/* TAB LAND 2 */
@media screen and (max-width: 66rem){
    .commenter_name{
        color: green;
    }
}




/* TAB-PORT */
@media screen and (max-width: 56.25em){
    .commenter_name{
        color: purple;
    }

    .blog_list_name{
        font-weight: bold;
        /* text-align: center; */
        padding: .5rem;
        font-size: 2rem;
        /* color: blue; */
        margin-left: 6rem
    }

    .profile_avatar{
        /* border: 1px solid red; */
        width: 40%;    
    }

    
    .anch p{
         margin-left: 6.5rem;
      } 
}



/* TAB-PORT 2 */
@media screen and (max-width: 47.875rem){
    .commenter_name{
        color: yellow;
    }

    .profile_avatar{
        /* border: 1px solid red; */
        width: 40%;    
    }
}




/* PHONE-LAND */
@media screen and (max-width: 38.5rem){
    .commenter_name{
        color: blue;
    }

    .profile_avatar{
        /* border: 1px solid red; */
        width: 60%;    
    }
}

}




/* PHONE LAND 2 */
@media screen and (max-width: 32.25rem){
    .commenter_name{
        color: blueviolet;
    }
}




/* phone-port */
@media screen and (max-width: 30.563em ){
    .commenter_name{
        color: crimson;
    }

    .profile_avatar{
        /* border: 1px solid red; */
        width: 80%;    
    }
}


.main_blog_div{
    /* border: 1px solid red; */
    /* padding: 1rem; */
}

.blog_list_title{
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    font-size: 1.5rem;
    color: blue;
}

.blog_more{
    text-align: center;
   
}

.blog_more a{
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}



.blog_list_name i{
    color: grey;
    font-weight: 100;
    font-size: 12px;
}

.small_list_blog{
    padding: .5rem;
    font-size: 1rem;
}

.comment_show{
    /* border: 1px solid red; */
    padding: 1rem;
}

.comment_box{
    /* border:  2px solid grey; */
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    margin-top: 10px;
    margin: 20px;
}




.comment_text{
    /* width: 90%; */
    /* margin-left: 4rem; */
    padding: 2px;
    margin-top: 15px;
}

.long_comment_pics{
    /* display: flex; */
}


.reply{
    /* border: 1px solid red; */
    margin-top: 1.5rem;
    /* margin-left: 1.5rem; */
}

.anch{
  display: flex;
  text-decoration: none;

}

.anch img{
  width: 2%;
  height: 2%
}




/* .reply img{
    width: 2%;
    height: 2%;
}
 
.reply p{
    margin-left: 1rem;
    margin-top: 2px;
    font-weight: bold ;
} */


.reply_box{
  /* border:  2px solid grey; */
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.548);
  border-radius: 10px;
  width: 90%;
  margin-left: 5rem;
  margin-top: 1rem;
}

.form_link{
    margin: 10px;
    font-size: 2rem;
    padding: 1rem;
    width: 30%;
    background-color: black;
    text-align: center

}

.form_link a{
    text-decoration: none;
    color: white;
}